Repository Letto228/Angular-learnjs-200323: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix:all, npx eslint

.lintstagedrc.json:

{
	"*.{ts,js}": ["npm run prettier:fix:all", "git add", "npx eslint"],
	"*.less": ["npm run prettier:fix:all", "git add"],
	"*.json": ["npm run prettier:fix:all", "git add"]
}

feat: check changes
  commitlint.config.js
  package-lock.json
  package.json
Due: npm run prettier:fix:all, npx eslint

feat: commit-lint hook added
  .husky/commit-msg
Due: none

feat: add angular/material
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/index.html
  src/styles.css
Due: npm run prettier:fix:all, npx eslint

feat: add angular/material
  src/index.html
  src/styles.css
Due: none

feat: settings
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.json
  angular.json
  commitlint.config.js
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/main.ts
  src/styles.css
  src/user.interface.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: npm run prettier:fix:all, npx eslint

feat: homework 1: update prettier
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
Due: npm run prettier:fix:all

feat: homework 1: run prettier for application
  angular.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/index.html
  src/main.ts
  src/styles.css
Due: npm run prettier:fix:all, npx eslint

feat: lecture 2
  src/app/app.component.css
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/core/header/header.component.css
  src/app/core/header/header.component.html
  src/app/core/header/header.component.spec.ts
  src/app/core/header/header.component.ts
  src/app/core/header/header.module.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.spec.ts
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/products/product-image.interface.ts
  src/app/shared/products/product.interface.ts
  src/app/shared/products/product.mock.ts
  src/user.interface.ts
Due: npm run prettier:fix:all, npx eslint

feat: homework 2: add product card
  src/app/pages/products-list/card copy/card.component.css
  src/app/pages/products-list/card copy/card.component.html
  src/app/pages/products-list/card copy/card.component.spec.ts
  src/app/pages/products-list/card copy/card.component.ts
  src/app/pages/products-list/card copy/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix:all, npx eslint

feat: edit prettier.json
  .prettierrc.json
Due: npm run prettier:fix:all

feat: edit eslintrc.json, tsconfig.json, angular.json
  .eslintrc.json
  angular.json
  tsconfig.json
Due: npm run prettier:fix:all

feat: add new component card
  .prettierrc.json
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix:all, npx eslint

feat: add card homework lecture 2
  angular.json
  src/app/core/header/header.component.html
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix:all, npx eslint

add: card component
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix:all, npx eslint

feat: card
  angular.json
  src/app/pages/products-list/products-list.component.html
Due: npm run prettier:fix:all

feat: card component
  angular.json
  src/app/core/header/header.component.html
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/products/product.interface.ts
  src/app/shared/products/product.mock.ts
Due: npm run prettier:fix:all, npx eslint

feat: add card component
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix:all, npx eslint

feat: lecture 2 dz
  angular.json
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix:all, npx eslint

fix: fixed card component
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix:all, npx eslint

fix: fixed card component
  src/app/pages/products-list/card/card.component.html
Due: none

feat: card page
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix:all, npx eslint

feat: lecture-2
  angular.json
  src/app/app.module.ts
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/shared.module.ts
Due: npm run prettier:fix:all, npx eslint

feat: add description, used interface
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/shared/products/product.interface.ts
  src/app/shared/products/product.mock.ts
Due: npm run prettier:fix:all, npx eslint

feat: click handler
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npm run prettier:fix:all, npx eslint

chore: pre lecture 3
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/core/header/header.component.html
  src/app/core/header/header.component.ts
  src/app/shared/application-config/application-config.interface.ts
  src/app/shared/application-config/application-config.mock.ts
Due: npm run prettier:fix:all, npx eslint

feat: lecture 3
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/core/header/header.component.html
  src/app/core/header/header.component.ts
  src/app/core/sidenav/sidenav.component.css
  src/app/core/sidenav/sidenav.component.html
  src/app/core/sidenav/sidenav.component.spec.ts
  src/app/core/sidenav/sidenav.component.ts
  src/app/core/sidenav/sidenav.module.ts
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.module.ts
  src/app/shared/application-config/application-config.interface.ts
  src/app/shared/application-config/application-config.mock.ts
Due: npm run prettier:fix:all, npx eslint

feat: update headerColorPalete
  src/app/shared/application-config/application-config.mock.ts
Due: npm run prettier:fix:all, npx eslint

feat: add input and output for product card
  src/app/app.component.html
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prettier:fix:all, npx eslint

feat(тест): lecture-2 Тестовое добавление коммита
  src/app/core/header/header.component.html
Due: none

feat: Домашняя работа 3
  angular.json
  src/app/app.component.html
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prettier:fix:all, npx eslint

feat: add card module, add chevron in card
  src/app/app.module.ts
  src/app/core/header/header.component.html
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix:all, npx eslint

feat: add card module
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix:all, npx eslint

feat: lecture-3 dz. input = output
  src/app/app.component.html
  src/app/app.component.ts
  src/app/core/header/header.component.html
  src/app/core/header/header.component.ts
  src/app/core/sidenav/sidenav.component.html
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/shared/application-config/application-config.interface.ts
  src/app/shared/application-config/application-config.mock.ts
Due: npm run prettier:fix:all, npx eslint

feat: lecture-3-dz
  src/app/app.component.html
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prettier:fix:all, npx eslint

fix: review issue
  src/app/app.module.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix:all, npx eslint

refactor: chanded to input
  angular.json
  src/app/app.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prettier:fix:all, npx eslint

feat(дз): lecture-2 Добавил домашку
  angular.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/core/header/header.component.css
  src/app/core/header/header.component.html
  src/app/core/header/header.component.ts
  src/app/core/header/header.module.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/pages/products-list/products-list.module.ts
Due: npm run prettier:fix:all, npx eslint

feat: add @Input and @Output in card component
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npm run prettier:fix:all, npx eslint
